.container {
    background-color: gray;
    padding: 50px 50px;
    width: 500px;
    box-sizing: border-box;
}

.container-button {
    height: 100px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}

.container-button button {
    width: 150px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.container-button button:hover {
    background-color: blue;
    color: white;
}