.lista {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 5rem;
    margin-bottom: 6.6rem;
}

